<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Example Page</title>

    <!-- Bootstrap -->
    <link href="../static/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/bootstrap-3.3.7-dist/css/offcanvas.css" rel="stylesheet">
    <link rel="SHORTCUT ICON" href="../static/img/Dglove.ico">
        <style type="text/css">
    body {
  background-image:url('../static/img/striped_lens.png');
}
    </style>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="https://www.datanab.net/">Data Nab</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a class="glyphicon glyphicon-home" aria-hidden="true" href="https://www.datanab.net/">&thinsp;Home</a></li>
            <li><a class="glyphicon glyphicon-info-sign" aria-hidden="true" href="https://www.datanab.net/about">&thinsp;About</a></li>
            <li><a class="glyphicon glyphicon-user" aria-hidden="true" href="https://www.datanab.net/contact">&thinsp;Contact</a></li>
            <li class="dropdown active">
              <a class="glyphicon glyphicon-list-alt" aria-hidden="true" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">&thinsp;Pages <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="https://constants.datanab.net">Constants</a></li>
                <li><a href="https://conversions.datanab.net">Conversions</a></li>
                <li><a href="https://prices.datanab.net">Prices</a></li>
                <li><a href="https://efficiency.datanab.net">Efficiencies</a></li>
                <li role="separator" class="divider"></li>
                <!-- <li class="dropdown-header">Nav header</li> -->
                <li><a href="https://www.datanab.net/examples">Examples</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    
    <div class="container-fluid">
        <div class="col-xs-12">
            <h3>Python</h3>
            <div class="well well-small">
                import json<br>
                import urllib<br>
                aquire = urllib.urlopen("url for JSON data")<br>
                unpacked = aquire.read()<br>
                data = json.loads(unpacked)
            </div>
            <h3>Java</h3>
            <div class="well well-small">
                                import java.net.*;<br>
                                import java.io.*;<br>
                                <br>
                                public class URLReader {<br>
                                &nbsp; &nbsp; &nbsp; &nbsp;public static void main(String[ ] args) throws Exception {<br>
                                <br>
                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;URL oracle = new URL("url for JSON data");<br>
                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;BufferedReader in = new BufferedReader(<br>
                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;new InputStreamReader(oracle.openStream()));<br>
                                <br>
                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;String inputLine;<br>
                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;while ((inputLine = in.readLine()) != null)<br>
                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;System.out.println(inputLine);<br>
                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;in.close();<br>
                                &nbsp; &nbsp; &nbsp; &nbsp;}<br>
                                }
            </div>
            <h3>Perl</h3>
            <div class="well well-small">
                    use LWP::Simple;<br>
                    <br>
                    my $url = 'url for JSON data';<br>
                    <br>
                    my $content = get $url;<br>
                    die "Couldn't get $url" unless defined $content;<br>
                    <br>
                    use JSON::Parse 'json_to_perl';<br>
                    my $data = json_to_perl ($content);<br>
            </div>
        </div>
    </div>
    <hr>
    <footer>
        <nav>
            Copyright &copy; Josh Fernandes 2012
        </nav>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="../static/bootstrap-3.3.7-dist/js/offcanvas.js"></script>
  </body>
</html>