<!DOCTYPE html>
<html>
    <head>
        <h1>Main Page</h1>
        <link rel="stylesheet" type="text/css" href="file:///Users/josh/ruby-sample/helloflask/static/test.css" />
        <title>Main Page</title>
        <style>
            H1 {border-width: 1; border: solid; text-align: center}
            body{ background-color: white;}
            p { color: black; }
            h3{ color: white; }
            footer {
                position:absolute;
                bottom:0;
                width:100%;
                height:20px;   /* Height of the footer */
                background:#6cf;
            }
            </style>
    </head>
    <body>
        <div style="text-align:center">
            
            <div style="float: left">
                <h2>Navigation</h2>
                <a href="http://murmuring-crag-5557.herokuapp.com">Main Page</a><br>
                <a href="http://constants.herokuapp.com">Constants Page</a><br>
                <a href="http://prices.herokuapp.com">Prices Page</a><br>
            </div>
            <div style="float: left">
            <p>&nbsp; &nbsp; &nbsp; &nbsp;</p>
            </div>
            <div style="float: left">
                <p>Welcome to the site! This website is intended as a programming tool for developers that use Python, Java, C++ or any other modern programming language. This site holds variables in a JSON format that is easily accesible to programmers.</p>
            </div>
            
            <div style="float: right"><p></p></div>
            
        </div>
        <footer> <!-- site wide footer -->
            <nav>
                Copyright &#169; 2012 Josh Fernandes
            </nav>
        </footer>
    </body>
</html>