
<!DOCTYPE>
<html>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <body>
  <center>
  <span id="temp">Waiting for data...</span><br>
  <span id="tstamp"></span><br>

  
  <br>
  <br>
  <form action="https://api.particle.io/v1/devices/360033000a47343432313031/led?access_token=70556751a3cf172bb567946e294478d8988e1cc4" method="POST">
    Tell your device what to do!<br>
    <br>
    <input type="radio" name="args" value="on">Turn the LED on.
    <br>
    <input type="radio" name="args" value="off">Turn the LED off.
    <br>
    <br>
    <input type="submit" value="Do it!">
  </form>
  </center>

  <script type="text/javascript">

    window.setInterval(function() {

        var deviceID = "360033000a47343432313031";
        var accessToken = "70556751a3cf172bb567946e294478d8988e1cc4";
        var varName = "digitalvalue";

        requestURL = "https://api.spark.io/v1/devices/" + deviceID + "/" + varName + "/?access_token=" + accessToken;
        $.getJSON(requestURL, function(json) {
                 if (json.result == 1) {
                  document.getElementById("temp").innerHTML = "LED is on";
                    } else { 
                     document.getElementById("temp").innerHTML = "LED is off";
                        }
                 
                 document.getElementById("temp").style.fontSize = "28px";
                 document.getElementById("tstamp").innerHTML = json.coreInfo.last_heard;
                 });
    },10000);
    </script>
  </body>
</html>
