<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Test Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="http://conversions.herokuapp.com/static/bootstrap.css" rel="stylesheet" type="text/css">
    <link rel="SHORTCUT ICON" href="http://www.conversions.datanab.net/static/img/Dglove.ico">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
        background-image:url('http://www.conversions.datanab.net/static/img/striped_lens.png');
        display: compact;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
      .fornav {
            position:relative;
            margin-left:-22px;
            margin-right: 20px;
            top:-3px;
            z-index:2;
      }
      footer {
            width:100%;
            position:fixed;
            top: auto;
            bottom: 0;
            background:#6cf;
        }
      .highlight 
        {
            background-color: #00FF00;
        }
        
      .un-highlight
        {
            background-color: #ffffdd;
        }
        .democlass{
        color:red;
        }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
  </head>
  <body>
      <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="navbar-inner">
              <div class="container-fluid">
                  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </a>
                  <a class="brand"><img src="http://conversions.herokuapp.com/static/img/Dglove_small_trans3.ico" alt="" style="padding-bottom:5px;" /></a>
                  <a class="brand" style="padding-left:1px;" href="http://www.datanab.net/">Data Nab</a>
                  <div class="nav-collapse">
                      <ul class="nav">
                          <li><a href="http://www.datanab.net/" style="padding-left:5px;"><i class="icon-home icon-white"></i>Home</a></li>
                          <li><a href="http://www.datanab.net/about" style="padding-left:5px;"><i class="icon-info-sign icon-white"></i>About</a></li>
                          <li><a href="http://www.datanab.net/contact" style="padding-left:5px;"><i class="icon-user icon-white"></i>Contact</a></li>
                          <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true" style="padding-left:4px;"><i class="icon-list-alt icon-white"></i>
                                  Pages <b class="caret"></b>
                              </a>
                              <ul class="dropdown-menu">
                                  <li><a tabindex="-1" href="http://www.constants.datanab.net">Constants</a></li>
                                  <li><a tabindex="-1" href="http://www.conversions.datanab.net">Conversions</a></li>
                                  <li><a tabindex="-1" href="http://www.prices.datanab.net">Prices</a></li>
                                  <li><a tabindex="-1" href="http://www.efficiency.datanab.net">Efficiencies</a></li>
                                  <li class="divider"></li>
                                  <li><a tabindex="-1" href="http://www.datanab.net/examples">Examples</a></li>
                              </ul>
                          </li>
                      </ul>
                      <form method="get" style="margin:2;" action="http://www.picosearch.com/cgi-bin/ts.pl" class="navbar-search pull-right">
                      <input type="hidden" name="index" value="527593" />
                      <input type="text" class="input-medium search-query"  name="query" value="" size="20" placeholder="Type Search Words Here"/>
                      <button type="submit" value="Search" class="btn">Search</button></form>
                  </div><!--/.nav-collapse -->
              </div>
          </div>
      </div>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
            <div class="page-header">
                <h3 class="offset1">About</h3>
            </div>
          <div class="row-fluid">
            <div id="inputText" class="span6 offset1" ondblclick="mouseDouble()" onmouseup="mouseUp()">Highlight <i>the code here.<b>Any text </i>on this line</b> can be highlighted.<br> Other text on the screen can not be highlighted.<br>Here is another line of text to test whether the highlight code works properly.
            </div><!--/span-->
           <!--  <div id="test" contenteditable="true">TEST TEXT PLEASE IGNORE</div> -->
<div id="caretPos"></div>

            <form>
<select id="myList" onchange="whoo()">
  <option value = "1">Highlight</option>
  <option value = "2">Unhighlight</option>  
</select>
</form>


          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->

      <hr>

    </div><!--/.fluid-container-->
    <footer>
          <nav>
              Copyright &copy; Josh Fernandes 2012
          </nav>
    </footer>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
     <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script>

    
    ////// DOM manipulation of dropdown menu
    //$("#myList").attr('size', '2');
    document.getElementById("myList").size=2; //displays both options in drop down
    document.getElementById("myList").selectedIndex = -1; //defaults to none selected

    /////////////Text below hides the dropdown by default

    document.getElementById("myList").disabled = true;
    document.getElementById("myList").style.display = 'none'

    ///// TEST functions for storing selection



////This function is for setting the selection range after the highlight or unhighlight button has been clicked.
function setONLY(el, start, end) {
    if (document.createRange && window.getSelection) {
        var range = document.createRange();
        range.selectNodeContents(el);
        var textNodes = getTextNodesIn(el);
        var foundStart = false;
        var charCount = 0, endCharCount;

        for (var i = 0, textNode; textNode = textNodes[i++]; ) {
            endCharCount = charCount + textNode.length;
            if (!foundStart && start >= charCount && (start < endCharCount || (start == endCharCount && i < textNodes.length))) {
                range.setStart(textNode, start - charCount);
                foundStart = true;
            }
            if (foundStart && end <= endCharCount) {
                range.setEnd(textNode, end - charCount);
                break;
            }
            charCount = endCharCount;
        }

        var sel = window.getSelection();
        sel.removeAllRanges();
        sel.addRange(range);
    } else if (document.selection && document.body.createTextRange) {
        var textRange = document.body.createTextRange();
        textRange.moveToElementText(el);
        textRange.collapse(true);
        textRange.moveEnd("character", end);
        textRange.moveStart("character", start);
        textRange.select();
    }
}


//this function is for running the setonly function for a certain div
function selectONLY(id, start, end) {
    setONLY(document.getElementById("inputText"), start, end);
}


//////////////
  
    var hereitis;
    var hereitgoes;

    var checkfordouble 
    checkfordouble = 0
    var indexone
    var indextwo

//this function selects an entire highlight if double clicked within the highlight 
//NOTE THIS IS BROKEN FOR NOW.........
/////////////////////////////////////////////////////////////
    function mouseDouble()
    {
      //alert(GetUserSelection()[0])
      //alert(HighlightSet.length)
      //alert( hereitis + '   ' + hereitgoes + '----' + hereitisdup + ' ' + hereitgoesdup)
      checkfordouble = 1
      for (i=0;i<HighlightSet.length; i++){
        //alert(i)
        //alert(getCaretCharacterOffsetWithin(inputText)[0] + '   ' + HighlightSet[i][0])
        //alert(HighlightSet[i][0])
        //alert(getCaretCharacterOffsetWithin(inputText)[0])
        //alert(i)
        //alert(getCaretCharacterOffsetWithin(inputText)[0] + 'one')
        //alert(HighlightSet[j][0] + 'two')
        if (getCaretCharacterOffsetWithin(inputText)[0] >= HighlightSet[i][0] && getCaretCharacterOffsetWithin(inputText)[0] < HighlightSet[i][1]){
          //window.getSelection().empty();
          //alert("OI")
          selectONLY('inputText',HighlightSet[i][0],HighlightSet[i][1])
          indexone = HighlightSet[i][0]
          indextwo = HighlightSet[i][1]
          //alert(indexone + '  ' + indextwo)
        }
      }
      //alert('hi' + HighlightSet[0])
    }


  //this function makes the drop down menu appear
    function mouseUp()
    {
      //alert(GetUserSelection())
      document.getElementById("myList").style.display = 'none'
      hereitis = getCaretCharacterOffsetWithin(inputText)[0];
      hereitgoes = getCaretCharacterOffsetWithin(inputText)[1];
      selectONLY('inputText',hereitis,hereitgoes)
      if (hereitis == hereitgoes){
        /////
      }
      else{
      document.getElementById("myList").style.display = 'inline'
      document.getElementById("myList").disabled = false;
    }
    }

    /////////////////////////

//THis function carries out the highlighting
    function whoo()
    {
    if (hereitis == undefined){
      ////
    }
    else{
      if (HighlightSet.length != 0){
        if (indexone == undefined){
          selectONLY('inputText',hereitis,hereitgoes)
        }
        else{
        selectONLY('inputText',indexone,indextwo)
        //alert(indexone + 'INDEXONE')
        indexone = undefined;
        indextwo = undefined;
        //alert(indexone + ' INDEXONE')
      }
    if (document.getElementById("myList").selectedIndex == 0){
        selectAndHighlightRange('inputText', getCaretCharacterOffsetWithin(inputText)[0], getCaretCharacterOffsetWithin(inputText)[1])
      }
      else{
        selectAndUnhighlightRange('inputText', getCaretCharacterOffsetWithin(inputText)[0], getCaretCharacterOffsetWithin(inputText)[1])
      } 
      
      }
      else{
      selectONLY('inputText',hereitis,hereitgoes)
    
      if (document.getElementById("myList").selectedIndex == 0){
        selectAndHighlightRange('inputText', getCaretCharacterOffsetWithin(inputText)[0], getCaretCharacterOffsetWithin(inputText)[1])
      }
      else{
        selectAndUnhighlightRange('inputText', getCaretCharacterOffsetWithin(inputText)[0], getCaretCharacterOffsetWithin(inputText)[1])
      } 
      }  
    }
    document.getElementById("myList").selectedIndex = -1; ///deselects what is selected in dropdown
    document.getElementById("myList").disabled = true;
    document.getElementById("myList").style.display = 'none'
    
    }
        function runScript(e) {
            if (e.keyCode == 13) {
                alert("Hello! you pushed enter");
                return false;
            }
        }
    </script>
    <script src="http://www.conversions.datanab.net/static/js/jquery.js"></script>
    <script src="http://www.conversions.datanab.net/static/js/bootstrap.js"></script>
    <script src="http://www.conversions.datanab.net/static/js/bootstrap.min.js"></script>
      <script src="http://conversions.herokuapp.com/static/js/bootstrap-dropdown.js"></script>
      <script type="text/javascript">
          $(document).ready(function () {
                            $('.dropdown-toggle').dropdown();
                            });
      var check = ''

          var selit;
          

          function GetUserSelection() {
            if (window.getSelection) {
              selit = window.getSelection();
                if (selit.rangeCount) {
                  range = selit.getRangeAt(0)
                  //var referenceNode = document.getElementsByTagName("div").item(0);
                  //startNode = document.getElementById("inputText");
                  //range.setStartBefore(referenceNode);
                  //startOffset = 0;
                  //range.setStart(startNode,startOffset);
                  //alert(selit.getRangeAt(0).startOffset + '  range count')
                  return [range.startOffset, range.endOffset];
                }
              } else if (document.selection) {
                  return document.selection.createRange();
              }
                  return null;
          }


          
          function getTextNodesIn(node) {
              var textNodes = [];
              if (node.nodeType == 3) {
                  textNodes.push(node);
              } else {
                  var children = node.childNodes;
                  for (var i = 0, len = children.length; i < len; ++i) {
                      textNodes.push.apply(textNodes, getTextNodesIn(children[i]));
                  }
              }
              return textNodes;
          }
          
          function setSelectionRange(el, start, end) {
              if (document.createRange && window.getSelection) {
                  var range = document.createRange();
                  range.selectNodeContents(el);
                  var textNodes = getTextNodesIn(el);
                  var foundStart = false;
                  var charCount = 0, endCharCount;
                  
                  for (var i = 0, textNode; textNode = textNodes[i++]; ) {
                      endCharCount = charCount + textNode.length;
                      if (!foundStart && start >= charCount && (start < endCharCount || (start == endCharCount && i < textNodes.length))) {
                          range.setStart(textNode, start - charCount);
                          foundStart = true;
                      }
                      if (foundStart && end <= endCharCount) {
                          range.setEnd(textNode, end - charCount);
                          break;
                      }
                      charCount = endCharCount;
                  }
                  
                  var sel = window.getSelection();
                  sel.removeAllRanges();
                  sel.addRange(range);
              } else if (document.selection && document.body.createTextRange) {
                  var textRange = document.body.createTextRange();
                  textRange.moveToElementText(el);
                  textRange.collapse(true);
                  textRange.moveEnd("character", end);
                  textRange.moveStart("character", start);
                  textRange.select();
              }
          }
          
          function makeEditableAndHighlight(color) {
              sel = selit;
              if (sel.rangeCount && sel.getRangeAt) {
                  range = sel.getRangeAt(0);
                  //alert(sel.rangeCount + '   range')
              }
              document.designMode = "on"; //this is the part that breaks the range selection
              if (range) {
                  sel.removeAllRanges();
                  sel.addRange(range);
              }
              // Use HiliteColor since some browsers apply BackColor to the whole block
              if (!document.execCommand("HiliteColor", false, color)) {
                  document.execCommand("BackColor", false, color);
              }
              document.designMode = "off"; //design mode turns off here
          }
          
          function highlight(color) {
              var range, sel;
              if (window.getSelection) {
                  // IE9 and non-IE
                  try {
                      if (!document.execCommand("BackColor", false, color)) {
                          makeEditableAndHighlight(color);
                      }
                  } catch (ex) {
                      makeEditableAndHighlight(color)
                  }
              } else if (document.selection && document.selection.createRange) {
                  // IE <= 8 case
                  range = document.selection.createRange();
                  range.execCommand("BackColor", false, color);
              }
          }
          
          function selectOnly(id, start, end) {
              
              setSelectionRange(document.getElementById("inputText"), start, end);
          }


          function highlightnew(text)
          {
          inputText = document.getElementById("inputText")
          first = getCaretCharacterOffsetWithin(inputText)[0];
          second = getCaretCharacterOffsetWithin(inputText)[1];
          third = second - first
          var innerHTML = inputText.innerHTML
          var index = innerHTML.indexOf(text);
          alert(index)
          alert(innerHTML.substring(index,index+text.length))
          alert(innerHTML.substring(index + text.length) + ' yolo')
          if ( index >= 0 )
          { 
          innerHTML = innerHTML.substring(0,index) + "<span class='highlight'>" + innerHTML.substring(index,index+text.length) + "</span>" + innerHTML.substring(index + text.length);
          inputText.innerHTML = innerHTML 
          }

          }

          function surroundSelection() {
    var element = document.createElement('span');
    element.className = "highlight";
    var sel = window.getSelection() ||
              document.getSelection() ||
             (document.selection ? document.selection.createRange() : null);
    if (sel.rangeCount) {
            var range = sel.getRangeAt(0).cloneRange();
            range.surroundContents(element);
            sel.removeAllRanges();
            sel.addRange(range);
            sel.removeAllRanges();
    }
}


///////THIS CODE WORKS
function componentFromStr(numStr, percent) {
    var num = Math.max(0, parseInt(numStr, 10));
    return percent ? Math.floor(255 * Math.min(100, num) / 100) : Math.min(255, num);
}

var rgbRegex = /^rgb\(\s*(-?\d+)(%?)\s*,\s*(-?\d+)(%?)\s*,\s*(-?\d+)(%?)\s*\)$/,
    hexRegex = /^#?([a-f\d]{6})$/,
    shortHexRegex = /^#?([a-f\d])([a-f\d])([a-f\d])$/;

function Color(r, g, b) {
    // Make a new Color object even when Color is not called with the new operator
    if (!(this instanceof Color)) {
        return new Color(r, g, b);
    }

    if (typeof g == "undefined") {
        // Parse the Color string
        var colStr = r.toLowerCase(), result;

        // Check for hex value first, the short hex value, then rgb value
        if ( (result = hexRegex.exec(colStr)) ) {
            var hexNum = parseInt(result[1], 16);
            r = hexNum >> 16;
            g = (hexNum & 0xff00) >> 8;
            b = hexNum & 0xff;
        } else if ( (result = shortHexRegex.exec(colStr)) ) {
            r = parseInt(result[1] + result[1], 16);
            g = parseInt(result[2] + result[2], 16);
            b = parseInt(result[3] + result[3], 16);
        } else if ( (result = rgbRegex.exec(colStr)) ) {
            r = componentFromStr(result[1], result[2]);
            g = componentFromStr(result[3], result[4]);
            b = componentFromStr(result[5], result[6]);
        } else {
            throw new Error("Color: Unable to parse Color string '" + colStr + "'");
        }
    }

    this.r = r;
    this.g = g;
    this.b = b;
}

Color.prototype = {
    equals: function(Color) {
        return this.r == Color.r && this.g == Color.g && this.b == Color.b;
    }
};

function makeEditableAndHighlight(Color) {
    var range, sel = window.getSelection();
    if (sel.rangeCount && sel.getRangeAt) {
        range = sel.getRangeAt(0);
    }
    document.designMode = "on";
    if (range) {
        sel.removeAllRanges();
        sel.addRange(range);
    }
    // Use HiliteColor since some browsers apply BackColor to the whole block
    if (!document.execCommand("HiliteColor", false, Color)) {
        document.execCommand("BackColor", false, Color);
    }
    document.designMode = "off";
}

function highlight(Color) {
    var range, sel;
    if (window.getSelection) {
        // IE9 and non-IE
        try {
            if (!document.execCommand("BackColor", false, Color)) {
                makeEditableAndHighlight(Color);
            }
        } catch (ex) {
            makeEditableAndHighlight(Color)
        }
    } else if (document.selection && document.selection.createRange) {
        // IE <= 8 case
        range = document.selection.createRange();
        range.execCommand("BackColor", false, Color);
    }
}

var getComputedStyleProperty;

if (typeof window.getComputedStyle != "undefined") {
    getComputedStyleProperty = function(el, propName) {
        return window.getComputedStyle(el, null)[propName];
    };
} else if (typeof document.documentElement.currentStyle != "undefined") {
    getComputedStyleProperty = function(el, propName) {
        return el.currentStyle[propName];
    };
}

function unhighlight(node, Color) {
    if (!(Color instanceof Color)) {
        Color = new Color(Color);
    }

    if (node.nodeType == 1) {
        var bg = node.style.backgroundColor;
        if (bg && Color.equals(new Color(bg))) {
            node.style.backgroundColor = "";
        }
    }
    var child = node.firstChild;
    while (child) {
        unhighlight(child, Color);
        child = child.nextSibling;
    }
}


///////////END of highlight/unhighlight
  

          function selectAndHighlightRange(id, start, end) {
              
              //setSelectionRange(document.getElementById("inputText"), start, end);
              //highlight("yellow");
              ChangeStoreData();
              //var cheese = window.getSelection().getRangeAt(0)
              //var ham = toString(cheese)
              //alert(ham)
              highlight('yellow')
              //surroundSelection()
              //highlightnew('code')
              //window.getSelection().empty();
              //GetUserSelection()
              //stylizeHighlightedString("yellow");
              //highlight("yellow");
              //window.getSelection().removeAllRanges();
              //GetUserSelection()
              //ChangeStoreData(); // this has to go before highlight to work
              
              //myFunction3333()
              window.getSelection().removeAllRanges();
              //window.getSelection().empty();
          }

          function myFunction3333() //doesn't work
          { 
          var h1=window.getSelection();
          var att=document.createAttribute("class");
          att.value="democlass";
          h1.setAttributeNode(att); //Error: event.returnValue is deprecated. Please use the standard event.preventDefault() instead.
          alert(att.nodeValue)
          }


          function selectAndUnhighlightRange(id, start, end) {
              //setSelectionRange(document.getElementById("inputText"), start, end);
              ReduceStoreData();
              highlight('white')
              //unhighlight(document.body, 'ffff00')
              //stylizeHighlightedString("white");
              //highlight("white");
              //window.getSelection().empty();
              //\window.getSelection().removeAllRanges();
              window.getSelection().removeAllRanges();
          }

          /////////////// initialize only on first session
          //var RangeSet = new Array(3,6)  //this line not needed later
          //var Stuff = new Array (12,15)  //this line not needed later
          //var HighlightSet = new Array(RangeSet,Stuff)  //this line should be changed to var HighlightSet = new Array()
          var CheckEndList = []  //this is needed
          var CheckStartList = []  //this is needed
          //var HighlightSetAdjusted = [] //not used anymore
          var HighlightSet = new Array()

          ///////////////// THIS IS THE CODE FOR MAKING THE LIST OF HIGHLIGHTS

          function ChangeStoreData() {
          //alert(getCaretCharacterOffsetWithin(test))
          //var CompareRange = new Array(GetUserSelection()[0],GetUserSelection()[1]) // old line
          //alert(getCaretCharacterOffsetWithin(test))
          //alert(getCaretCharacterOffsetWithin(test), '  change store data')
          var CompareRange = new Array(getCaretCharacterOffsetWithin(inputText)[0],getCaretCharacterOffsetWithin(inputText)[1]) //almost working
          //alert(CompareRange + ' Compare range')
          var unique = 1
          HighlightSet.push(CompareRange)
          if (CompareRange[0] == CompareRange[1] ){
            return
          }
          if (HighlightSet.length == 1){
            null          }
          else {
          for (i=0;i<(HighlightSet.length - 1);i++)
          {
            if (CompareRange[0] <= HighlightSet[i][0] && CompareRange[1] >= HighlightSet[i][1]) {
              HighlightSet[i] = CompareRange
              unique = 0
            }
            if (CompareRange[0] <= HighlightSet[i][0] && CompareRange[1] < HighlightSet[i][1] && CompareRange[1] >= HighlightSet[i][0]) {
              HighlightSet[i][0] = CompareRange[0]
              unique = 0
            }
            if (CompareRange[0] > HighlightSet[i][0] && CompareRange[1] >= HighlightSet[i][1] && CompareRange[0] <= HighlightSet[i][1]) {
              HighlightSet[i][1] = CompareRange[1]
              unique = 0
            }
            // else {
            //   if (check == 1){ 
            //   alert("hi" + check)
            //   //HighlightSet.push(CompareRange)
            //   }
            //   else {
            //     check = 0
            //   }
            // }
            CheckEndList.push([i,HighlightSet[i][1]])
            CheckStartList.push([i,HighlightSet[i][0]])
          }
          if (unique == 0) {
            HighlightSet.pop(HighlightSet.length)
            //alert('not unique')
            //CheckEndList.push([3,5])
            //CheckStartList.push([3,5])
          }
          else if (unique == 1){
              CheckEndList.push([HighlightSet.length-1,HighlightSet[HighlightSet.length-1][1]])
              CheckStartList.push([HighlightSet.length-1,HighlightSet[HighlightSet.length-1][0]])
          }
          // for (i=0;i<(HighlightSet.length);i++) {
          // HighlightSetAdjusted[i] = HighlightSet[i] 
          // }
          //alert(HighlightSet.length + ' the stuff is ' + HighlightSet)
          for (i=0;i<CheckEndList.length;i++){
            for (j=0;j<CheckStartList.length;j++){
              if (i == j) {
                null
              }
              else if (i != j && CheckEndList[i][1] > CheckStartList[j][1] && CheckStartList[i][1] < CheckStartList[j][1] ){
                //HighlightSet[i][0] = CheckStartList[i][1]
                //alert(CheckEndList[i][1] + ' ' + CheckEndList[j][1])
                if (CheckEndList[i][1] < CheckEndList[j][1]){
                  HighlightSet[i][1] = CheckEndList[j][1]
                }
                if (CheckEndList[i][1] > CheckEndList[j][1]){
                  HighlightSet[i][1] = CheckEndList[i][1]
                }

                HighlightSet.splice(j,1)
                //alert(HighlightSet[j])
                //alert(CheckEndList[i][1] + '>' + CheckStartList[j][1] + ' ' + CheckStartList[i][1] + '<' + CheckStartList[j][1])
              }
              else if (i < j && CheckEndList[i][1] > CheckStartList[j][1] && CheckStartList[i][1] == CheckStartList[j][1] ){
                //HighlightSet[i][0] = CheckStartList[i][1]
                //alert(CheckEndList[i][1] + ' ' + CheckEndList[j][1])
                if (CheckEndList[i][1] < CheckEndList[j][1]){
                  HighlightSet[i][1] = CheckEndList[j][1]
                  //alert('small')
                }
                if (CheckEndList[i][1] > CheckEndList[j][1]){
                  HighlightSet[i][1] = CheckEndList[i][1]
                }
                //alert(HighlightSet[j] + 'this is the end')
                HighlightSet.splice(j,1)
                //alert(HighlightSet[j])
                //alert(CheckEndList[i][1] + '>' + CheckStartList[j][1] + ' ' + CheckStartList[i][1] + '<' + CheckStartList[j][1])
              }
              // else if (i != j && CheckStartList[i][1] > CheckStartList[j][1] && CheckEndList[i][1] < CheckEndList[j][1]){
              //   //HighlightSet[i][0] = CheckStartList[i][1]
              //   //HighlightSet[i][1] = CheckEndList[j][1]
              //   //HighlightSet.splice(j,1)
              //   //alert(HighlightSet[j])
              //   alert("WHATWHAT")
              // }
            }
          }

          }
            //alert(CheckStartList + 'start')
            CheckEndList.length = 0;
            CheckStartList.length = 0;
            alert(HighlightSet + ' Highlight Set')
           //maybe I can add highlight functionality at the end 
          }

          function ReduceStoreData() {
          //alert(HighlightSet + ' before')
          var CompareRange = new Array(getCaretCharacterOffsetWithin(inputText)[0] ,getCaretCharacterOffsetWithin(inputText)[1]) //this line will be the range from selection later
          //var unique = 1
          //HighlightSet.push(CompareRange)
          //alert(CompareRange + ' compare range')
          if (HighlightSet.length == 0){
            null          }
          else {
          for (i=0;i<(HighlightSet.length);i++)
          {
            if (CompareRange[0] <= HighlightSet[i][0] && CompareRange[1] >= HighlightSet[i][1]) {
              HighlightSet[i] = 'delete'
              //break;
              //unique = 0
            }
            if (CompareRange[0] <= HighlightSet[i][0] && CompareRange[1] < HighlightSet[i][1] && CompareRange[1] >= HighlightSet[i][0]) {
              HighlightSet[i][0] = CompareRange[1]
              //unique = 0
            }
            if (CompareRange[0] > HighlightSet[i][0] && CompareRange[1] >= HighlightSet[i][1] && CompareRange[0] <= HighlightSet[i][1]) {
              HighlightSet[i][1] = CompareRange[0]
              //unique = 0
            }
            if (CompareRange[0] > HighlightSet[i][0] && CompareRange[1] < HighlightSet[i][1]){
              Points = [HighlightSet[i][0],CompareRange[0],CompareRange[1],HighlightSet[i][1]]
              HighlightSet[i][1] = CompareRange[0]
              HighlightSet.push([Points[2],Points[3]])
              break;
            }
          }
          //alert(HighlightSet + '   ' + HighlightSet.indexOf('-1,-1') + '   i love it')
          function contains(a, obj) {
            var i = a.length;
            while (i--) {
              if (a[i] === obj) {
                return true;
              }
            }
            return false;
          }
        
          Array.prototype.contains = function(obj) {
            var i = this.length;
            while (i--) {
              if (this[i] === obj) {
                return true;
              }
            }
            return false;
          }


          while (HighlightSet.contains('delete')){
            HighlightSet.splice(HighlightSet.indexOf('delete'),1)
          }
  
          
        }
          alert(HighlightSet + ' Highlight Set')
        }
          


function stylizeHighlightedString(color) 
{

  //alert(text.focusOffset - text.anchorOffset);

  var text = window.getSelection();
  //alert(window.getSelection())
  //alert (text.anchorOffset)
  
  //cheese = getTextNodesIn(inputText)
  //alert(cheese + '  cheese')
  //alert(start);

  var start = getCaretCharacterOffsetWithin(inputText)[0];
  var end = getCaretCharacterOffsetWithin(inputText)[1];
  //var start = text.anchorOffset; //original start
  //var end = text.focusOffset - text.anchorOffset; original end
  //alert(end);

  range = window.getSelection().getRangeAt(0);
  //alert(range)
  range1 = window.getSelection().toString();
  var selectionContents = range.extractContents();
  var span = document.createElement("span");

  span.appendChild(selectionContents); //ExtractContents breaks the true range

  span.setAttribute("class"); 
  span.style.backgroundColor = color;
  span.style.color = "black";

  range.insertNode(span);
}


///////////////THIS CODE WORKS WITH LINE BREAKS. my getuserselection() function does not

function getCaretCharacterOffsetWithin(element) {
    var caretOffsets;
    var doc = element.ownerDocument || element.document;
    var win = doc.defaultView || doc.parentWindow;
    var sel;
    if (typeof win.getSelection != "undefined") {

      //   var rootnode=document.getElementById("test")
      //   var walker=document.createTreeWalker(rootnode, NodeFilter.SHOW_ELEMENT, null, false)
      //   //var walker2=document.createTreeWalker(rootnode, NodeFilter.SHOW_TEXT, null, false)
      //   //alert(walker.currentNode.childNodes.length)
      //   //alert(walker2)
      //   //alert(walker.currentNode.tagName)
      //   var range = win.getSelection().getRangeAt(0);
      //   while (walker.nextNode()){
      //     if (walker.currentNode){
      //       alert(walker.currentNode + '   ' + range.startContainer)
      //     }
      //   //alert(walker.currentNode.tagName)
      // }


      var range = win.getSelection().getRangeAt(0);
      var preCaretRange2 = range.cloneRange();
        preCaretRange2.selectNodeContents(element);
        preCaretRange2.setEnd(range.startContainer, range.startOffset);
        caretOffset2 = preCaretRange2.toString().length;
      //alert(caretOffset2)

      //ok, so now i need to find the corresponding treewalker node for where I click and when treewalker == start range node then I have it count only up to that node.
      // var rootnode=document.getElementById("inputText")
      // var walker=document.createTreeWalker(rootnode, NodeFilter.SHOW_TEXT, null, false)

      // walker.firstChild() //Walk to first child node (the text "George")
      // var paratext=walker.currentNode.nodeValue
      // while (walker.nextSibling()){ //Step through each sibling of "George"
      //   paratext+=walker.currentNode.nodeValue
      //   //alert(paratext.toString().length)
      // } 

//alert(paratext) //alerts "George loves JavaScript!"


        //var range = win.getSelection().getRangeAt(0);
        var preCaretRange = range.cloneRange();
        preCaretRange.selectNodeContents(element);
        preCaretRange.setEnd(range.endContainer, range.endOffset);
        caretOffset = preCaretRange.toString().length;
        //childNODES = preCaretRange.startContainer.parentNode.childNodes; // i dont know which one to use
        //childNODES = preCaretRange.startContainer.childNodes;
        // childNODES = range.endContainer.parentNode.parentNode.childNodes;
        // parentNODE = range.startContainer.parentNode.parentNode.childNodes
        // for(i=0;i<parentNODE.length;i++){
        //   //alert(parentNode.item(i).length)
        // }
        // var indexnumber;
        // var numberkeeper = 0;
        // //alert(range.endContainer.parentNode.parentNode.nodeName + '   who')
        // //alert(window.getSelection().anchorNode.length)
        // //alert(parentNode)
        // for(i=0;i<parentNODE.length;i++)
        // {
        //   //alert(childNODES.item(i).length)
        //   //alert(parentNODE.item(i).length)
        //   if (parentNODE.item(i) == range.startContainer ){
        //     indexnumber = i;
        //     alert(i + 'here it is')
        //   }
        // }
        // for (j=0;j<indexnumber+1;j++){
        //   //alert(childNODES.item(1).anchorOffset)
        //   //alert(j + '   ' + childNODES.item(j).length +' jay')
        //   //alert(j + '  i')
        //   //alert(childNODES.item(j).length)
        //   if (childNODES.item(j).length == undefined){
        //     // do nothing
        //   }
        //   else if (indexnumber != 0){
        //     numberkeeper += childNODES.item(j).length;
        //   }
        // }
        //alert(numberkeeper + '   numBAH')
        //alert(range.startContainer.parentNode.childNodes.length)
        //preCaretRange.setStart(document.body.childNodes[0], 1)
        //preCaretRange.setStart(range.startContainer.parentNode.firstChild, range.startOffset);
        //caretOffset2 = (numberkeeper + preCaretRange.startOffset )
        //start = element.selectionStart;
        //alert(start)
    } else if ( (sel = doc.selection) && sel.type != "Control") {
        alert("OI")
        var textRange = sel.createRange();
        var preCaretTextRange = doc.body.createTextRange();
        preCaretTextRange.moveToElementText(element);
        preCaretTextRange.setEndPoint("EndToEnd", textRange);
        caretOffset = preCaretTextRange.text.length;
    }
    return [caretOffset2 , caretOffset ];
}

function showCaretPos() {
    var el = document.getElementById("inputText");
    var caretPosEl = document.getElementById("caretPos");
    caretPosEl.innerHTML = "Caret position: " + getCaretCharacterOffsetWithin(el);
    //alert(getCaretCharacterOffsetWithin(test) + ' in show carat')
}

document.body.onkeyup = showCaretPos;
document.body.onmouseup = showCaretPos;

function otherselect(id, start, end) {
              ChangeStoreData()
              stylizeHighlightedString();

              window.getSelection().empty();
          }
//////////////////////////////////////////////////////


//           $(document).ready(function(){    
//     $("#inputText").mouseup(function () {
//         alert('Works!');
//     });
// });

$('#inputText').bind( "touchend", function(){
        alert('Works!');
});
</script>
<button onclick="selectAndHighlightRange('inputText', getCaretCharacterOffsetWithin(inputText)[0], getCaretCharacterOffsetWithin(inputText)[1])">HIGHLIGHT IT</button>
<!-- <button onclick="stylizeHighlightedString() ">HIGHLIGHT IT</button> -->
<!-- <button onclick="selectAndHighlightRange('inputText', GetUserSelection()[0], GetUserSelection()[1])">Highlight</button>
<button onclick="otherselect('test', 0, 5)">Highlight TEST</button> -->
<!-- <button onclick="selectAndUnhighlightRange('inputText', GetUserSelection()[0], GetUserSelection()[1])">Unhighlight</button> -->
<!-- <button onclick="PrintStoreData()">Range Data</button> -->
<!-- <button onclick="ChangeStoreData()">Change Data</button> --> 
<!-- <button onclick="whoo()">get range</button> -->
<!-- <button onclick="imtrying(document.getElementById('inputText'),getSelectionHtml(),'highlight');">another</button>
<a href="javascript:void(0);" onclick="highlightSelection();">Highlight</a> 
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="javascript:void(0);" onclick="RemovehighlightSelection();">Remove Highlight</a>
-->
      </script>

    <script src="//static.getclicky.com/js" type="text/javascript"></script>
    <script type="text/javascript">try{ clicky.init(100642142); }catch(e){}</script>
  </body>
</html>