<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Main Page</title>

    <!-- Bootstrap -->
    <link href="../static/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/bootstrap-3.3.7-dist/css/offcanvas.css" rel="stylesheet">
    <link rel="SHORTCUT ICON" href="https://conversions.herokuapp.com/static/img/Dglove.ico">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="https://www.datanab.net/">Data Nab</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a class="glyphicon glyphicon-home" aria-hidden="true" href="https://www.datanab.net/">&thinsp;Home</a></li>
            <li><a class="glyphicon glyphicon-info-sign" aria-hidden="true" href="https://www.datanab.net/about">&thinsp;About</a></li>
            <li><a class="glyphicon glyphicon-user" aria-hidden="true" href="https://www.datanab.net/contact">&thinsp;Contact</a></li>
            <li class="dropdown">
              <a class="glyphicon glyphicon-list-alt" aria-hidden="true" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">&thinsp;Pages <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="https://constants.datanab.net">Constants</a></li>
                <li><a href="https://conversions.datanab.net">Conversions</a></li>
                <li><a href="https://prices.datanab.net">Prices</a></li>
                <li><a href="https://efficiency.datanab.net">Efficiencies</a></li>
                <li role="separator" class="divider"></li>
                <!-- <li class="dropdown-header">Nav header</li> -->
                <li><a href="https://www.datanab.net/examples">Examples</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container-fluid">

      <div class="row row-offcanvas row-offcanvas-left">

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
          <div class="list-group">
            <li class="dropdown-header">Newest Pages</li>
            <a href="https://constants.datanab.net/physics/neutron_mass" class="list-group-item">Neutron Mass</a>
            <a href="https://constants.datanab.net/physics/proton_mass" class="list-group-item">Proton Mass</a>
            <a href="https://constants.datanab.net/physics/electron_mass" class="list-group-item">Electron Mass</a>
            <a href="https://constants.datanab.net/physics/elementary_charge" class="list-group-item">Elementary Charge</a>
            <li class="dropdown-header">Latest Updates</li>
            <a href="https://prices.datanab.net/us/fuel/gasoline" class="list-group-item">Price of Gasoline</a>
          </div>
        </div><!--/.sidebar-offcanvas-->

        <div class="col-xs-12 col-sm-9">
          <p class="pull-left visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="jumbotron">
            <h1>The Ultimate Number Database</h1>
            <p>Need to look up a constant? Input a coefficient into your code? Calculate your expense based on the current price of gas? This site contains thousands of bits of information for programmers to look up or to input into their code. No need to worry about numbers being obsolete.</p>
            <p><a class="btn btn-primary btn-large" href="https://www.datanab.net/about">Learn more &raquo;</a></p>
          </div>
        </div><!--/.col-xs-12.col-sm-9-->

        
      </div><!--/row-->

      <hr>

       <footer>
          <nav>
              Copyright &copy; Josh Fernandes 2012
          </nav>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
     <script src="../static/bootstrap-3.3.7-dist/js/offcanvas.js"></script>
  </body>
</html>